/* Main template*/
html {
    font-family: Camria, Georgia, serif;
    font-size: 16px;
}
body {
    margin: 0 auto;
}
header {
    position: absolute;
    font-size: 0.7rem;
    top: 0;
    width: 100%;
    height: 5%;
    text-align: right;
}
.caption_container {
    width: 100%;
    height: 100%;
    text-align: center;
}
.caption_figure {
    margin: 0;
    max-width: 100%;
    height: 40vh;
    background-image: url("Pictures/background2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.caption_data {
    display: inline-block;
    max-width: 60vw;
    padding: 5%;
    text-align: right;
    font-size: 1rem;
}
/*Cookie*/
footer {
    position: fixed;
    font-size: 0.7rem;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: center;
}
.alert{
    margin: 0 auto;
    font-size: 0.8rem;
    padding: 5%;
    background: wite;
    color: black;
    width: 40%;
    height: auto;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 5px 5px 5px rgba(0,255,0,0.1)
}
.image {
    width: 90%;
}
.box_close {
    margin-left: 20%;
    color: black;
    background: white;
    float: right;
    font-size: 1.5rem;
    line-height: 1.5;
    cursor: pointer;
}
.box_close:hover {
    color: green;
    font-weight: bold;
}
/*Login*/
input {
    width: 100%;
    border: none;
    border-bottom: 2px solid lightgreen;
    background-color: none;
    line-height: 3;
    font-size: 1rem;
}
::placeholder {
    color: lightgreen;
    text-align: right;
}

/*Buttons*/
.buttons1 {
    margin: 2% 0 2% 0;
    padding: 5%;
    border-radius: 0.5rem;
    text-align: center;
    background: black;
    color: white;
}
.buttons2 {
    margin: 2% 0 2% 0;
    padding: 5%;
    border-radius: 0.5rem;
    text-align: center;
    background-image: linear-gradient(-45deg,green, lightgreen, yellow);
    color: black;
    float: right;
    box-shadow: 0 3px 3px 3px rgba(0,255,64,0.2);
}
.buttons2:hover {
    width: 100%;
}
.caption_buttons {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
}
.buttons3 {
    -webkit-box-flex: 1;
    -moz-box-flex:  1;
    -webkit-flex:  1;
    -ms-flex:  1;
    flex:  1;
    flex-basis: 100%;
    margin: 2%;
    padding: 2%;
    border-radius: 0.5rem;
    text-align: right;
    float: right;
    color: black;
    box-shadow: 0 3px 3px 3px rgba(0,255,64,0.2);

}
.buttons3:first-child {
    background-image: linear-gradient(green,lightgreen,yellow);
}
.buttons3:last-child {
    background-image: linear-gradient(yellow,lightgreen,green);
}
.buttons3:hover {
    background-image: linear-gradient(green,green);
    border: 1px solid yellow;
    color: white;
    box-shadow: 0 3px 3px 3px rgba(150, 150, 104, 0.2);
    text-align: center;
}
.buttons4 {
    -webkit-box-flex: 1 1 auto;
    -moz-box-flex:  1 1 auto;
    -webkit-flex:  1 1 auto;
    -ms-flex:  1 1 auto;
    flex:  1 1 auto;
    flex-basis: 100%;
    margin: 2%;
    border-radius: 0.5rem;
    text-align: right;
    float: right;
    padding: 2%;
    box-shadow: 0 3px 3px 3px rgba(0,255,64,0.2);
}
.buttons4:nth-child(1) {
    background-image: linear-gradient(blue,lightblue);
}
.buttons4:nth-child(2) {
    background-image: linear-gradient(lightblue,cyan);
}
.buttons4:nth-child(3) {
    background-image: linear-gradient(cyan,yellow);
}
.buttons4:nth-child(4) {
    background-image: linear-gradient(yellow,lightgreen);
}
.buttons4:nth-child(5) {
    background-image: linear-gradient(lightgreen,green,darkgreen);
}
.buttons4:last-child {
    background-image: linear-gradient(green,darkgreen,black);
    color: white;
}
/* Media queries*/
@media (min-width: 568px) and (orientation: landscape) {
    .caption_data {
        padding: 0 5% 5% 5%;;
        width: 40%;
        float: left;
    }
    .caption_figure {
        width: 50%;
        height: 100vh;
        float: right;
    }
    .alert {
        width: 30%;
    }
}
@media (min-width: 768px) {
    .buttons {
        width: 35%;
        display: inline-block;
        margin: 5%;
    }
    header {
        font-size: 1rem;
    }
    .caption_data {
        padding: 0 5% 5% 5%;
        width: 40%;
        float: left;
        font-size: 1.2rem;
    }
    .buttons3{
        flex-basis: 30%;
    }
    .buttons4 {
        flex-basis: 30%;
    }
    .caption_figure {
        width: 50%;
        height: 100vh;
        float: right;
    }
    .alert {
        width: 20%;
    }
}
@media (min-width: 1024px) {
    .caption_data {
        font-size: 1.2rem;
    }
    input {
        font-size: 1.2rem;
    }
}
@media (min-width: 1400px) {
    .caption_data {
        margin: 10% 0 0 0;
        font-size: 1.6rem;
    }
    input {
        font-size: 1.6rem;
    }
}