/* Main template*/
html {
    font-family: Camria, Georgia, serif;
    font-size: 16px;
}
body {
    margin: 0 auto;
}
header {
    position: absolute;
    font-size: 0.7rem;
    top: 0;
    width: 100%;
    height: 5%;
    text-align: right;
}
.caption_container {
    width: 100vw;
    height: 100vh;
    text-align: center;
}
.caption_figure {
    margin: 0;
    max-width: 100%;
    height: 40vh;
    background-image: url("Pictures/background2.jpg");
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
}
.caption_data {
    display: inline-block;
    max-width: 60vw;
    padding: 5%;
    text-align: right;
    font-size: 1rem;
}
/*Cookie*/
footer {
    position: fixed;
    font-size: 0.7rem;
    bottom: 0;
    width: 100%;
    height: 5%;
    text-align: center;
}
.alert{
    margin: 0 auto;
    font-size: 0.8rem;
    padding: 5%;
    background: wite;
    color: black;
    width: 40%;
    height: auto;
    text-align: center;
    border-radius: 5%;
    box-shadow: 0 5px 5px 5px rgba(0,255,0,0.1)
}
figure {
    max-width: 90%;
}
.box_close {
    margin-left: 20%;
    color: black;
    background: white;
    float: right;
    font-size: 1.5rem;
    line-height: 1.5;
    cursor: pointer;
}
.box_close:hover {
    color: green;
    font-weight: bold;
}
.buttons {
    padding: 5%;
    background: black;
    color: white;
    border-radius: 1.5rem;
}
/* Media queries*/
@media (min-width: 600px) and (orientation: landscape) {
    .caption_data {
        margin: 5% 0 0 0;
        width: 30%;
        float: left;
    }
    .caption_figure {
        width: 50%;
        height: 100vh;
        float: right;
    }
    .alert {
        width: 30%;
    }
}
@media (min-width: 768px) {
    header {
        font-size: 1rem;
    }
    .caption_data {
        width: 40%;
        float: left;
        font-size: 1.2rem;
    }
    .caption_figure {
        width: 50%;
        height: 100vh;
        float: right;
    }
    .alert {
        width: 20%;
    }
}
@media (min-width: 1024px) {
    header {
        font-size: 1.1rem;
    }
    .caption_data {
        font-size: 1.5rem;
    }
}
@media (min-width: 1400px) {
    header {
        font-size: 3rem;
    }
    .caption_data {
        margin: 10% 0 0 0;
        font-size: 4rem;
    }
}